version: "3"
services:
  app:
    build:
      context: ..
      dockerfile: docker/Dockerfile.dev
    ports:
      - "${WEB_PORT}:3000"
    volumes:
      - ..:/usr/src/app:z
      - /usr/src/app/node_modules
    command: npm run dev
    env_file:
      - .env