.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100vw;
  min-height: 100vh;
  height: fit-content;
  background-color: rgb(100, 100, 100);
  width: fit-content;
  margin: 0 auto;
}

.containerBtn {
  padding-top: 15px;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.containerPlayers {
  border: 3px dotted #aaa;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 10px;
  margin-top: 10px;
  border-radius: 20px;
  position: relative;
}

.containerPlayersTitle {
  background-color: rgb(100, 100, 100);
  color: #aaa;
  font-weight: 700;
  padding-left: 5px;
  padding-right: 5px;
  margin: auto;
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
}

.duplicatePlayer {
  background-color: #800;
}

.columnContainer {
    margin: 15px;
}

.column {
  float: left;
  height: fit-content;
  padding: 5px;
  margin: 5px;
}
