@media (min-width: 650px) {
  .container {
    display: flex;
    margin-bottom: 2px;
  }
}

@media (max-width: 650px) {
  .option {
    border-bottom: 1px dotted #333;
  }
}

.container {
  width: 100%;
}

.containerMain {
  max-width: 100%;
  margin-top: 10px;
  margin-bottom: 15px;
}

.option {
  flex: 1;
  background-color: #bbb;
  padding: 3px;
  margin: 0;
  border-left: 1px dotted #333;
  border-right: 1px dotted #333;
  cursor: pointer;
  white-space: nowrap;
  padding-right: 10px;
  padding-left: 10px;
}

.option:hover {
  background-color: #eee;
}

.optionText {
  text-align: center;
  color: #333;
  font-weight: 700;
  user-select: none;
}